{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                    <h4>Stock 1</h4>
                </div>
                <div class="card-body">
                    <form id="stockForm1" method="post" action="{% url 'stock_dropdown' %}">
                            {% csrf_token %}
                    <label for="stock1">Choose a stock for Stock 1:</label>
                            <!-- Create the dropdown menu for Stock 1 -->
                        <select id="stock1" name="stock1">
                              {% for symbol in symbols %}
                            <option value="{{ symbol }}">{{ symbol }}</option>
                             {% endfor %}
                         </select>
                    <input type="submit" value="Submit">
                    </form>
                    <div><h4>Replace with stock graph</h4></div>
                    <canvas id="chartBig1"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                    <h4>Stock 2</h4>
                </div>
                <div class="card-body">
                    <form id="stockForm2">
                        <label for="stock2">Choose a stock for Stock 2:</label>
                        <!-- Create the dropdown menu for Stock 2 -->
                        <select id="stock2" name="stock2">
                            <!-- Populate the options using Django template syntax -->
                            {% for symbol in symbols %}
                                <option value="{{ symbol }}">{{ symbol }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Submit">
                    </form>
                    <div><h4>Replace with stock graph</h4></div>
                    <canvas id="chartBig2"></canvas>
                </div>
            </div>
        </div>
           <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <div><h4>Graph here</h4></div>
                </div>
                <p>Description of graph</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <div><h4>Graph here</h4></div>
                </div>
                 <p>Description of graph</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <div><h4>Graph here</h4></div>
                </div>
                 <p>Description of graph</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <div><h4>Graph here</h4></div>
                </div>
                 <p>Description of graph</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <div><h4>Graph here</h4></div>
                </div>
                 <p>Description of graph</p>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                </div>
                <div class="card-body">
                    <div><h4>Graph here</h4></div>
                </div>
                 <p>Description of graph</p>
            </div>

        </div>
    </div>

</div>
{% endblock content %}
