<!-- display_stocks.html -->
{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div id="mainContent" style="display: block;">
        <div class="row justify-content-center">
            <h1 style="text-align: center; margin-bottom: 50px; color: white;">Stock Display</h1> <!-- Centered heading -->
            <form class="mb-4" action="{% url 'graph_display' %}" method="get">
                <div class="form-group row justify-content-center">
                    <div class="col-md-4">
                        <select class="form-control form-control-lg rounded-pill text-white" name="stock1" id="stock1">
                            <option value="" selected disabled style="display: none;">Select Stock 1</option>
                            {% for ticker, name in tickers_data.items %}
                            <option value="{{ ticker }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control form-control-lg rounded-pill text-white" name="stock2" id="stock2">
                            <option value="" selected disabled style="display: none;">Select Stock 2</option>
                            {% for ticker, name in tickers_data.items %}
                            <option value="{{ ticker }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-4">
                        <input type="text" class="form-control rounded-pill text-white bg-dark" id="selected_stock1" name="selected_stock1" readonly>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control rounded-pill text-white bg-dark" id="selected_stock2" name="selected_stock2" readonly>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-8 text-center">
                        <button type="submit" class="btn btn-primary btn-lg rounded-pill mt-3">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Script to update selected stocks in text boxes
    document.getElementById('stock1').addEventListener('change', function() {
        document.getElementById('selected_stock1').value = this.value;
    });

    document.getElementById('stock2').addEventListener('change', function() {
        document.getElementById('selected_stock2').value = this.value;
    });
</script>
{% endblock content %}
