{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div id="mainContent">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4>{{ stock1 }}</h4>
                    </div>
                    <div class="card-body" style="height: 400px;"> <!-- Adjust the height as needed -->
                        <div id="chartBig1">
                            {{ stock1 }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header">
                        <h4>{{ stock2 }}</h4>
                    </div>
                    <div class="card-body" style="height: 400px;"> <!-- Adjust the height as needed -->
                        <div id="chartBig2">
                            {{stock2}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Include JavaScript file for stock display logic -->
<script src="{% static 'stock_display.js' %}"></script>

{% endblock content %}
