{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div id="mainContent">
        <div class="row">
            <div class="col-6">
                <!-- First Section -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4>{{ stock1 }}</h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig1">
                            <div>{{ graph1|safe }}</div> 
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>

                <!-- Second Section -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h4> SMA </h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig3">
                            <div>{{sma1|safe}}</div>
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>

                <!-- Third Section -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h4> EMA </h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig4">
                            <div>{{ema1|safe}}</div>
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>

                <!-- Fourth Section -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4> RSI </h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig5">
                            <div>{{rsi1|safe }}</div> 
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>

                <!-- Fifth Section -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h4> MACD</h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig6">
                            <div>{{ macd1 |safe}}</div> 
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>

                <!-- Sixth Section -->
                <div class="card card-chart">
                    <div class="card-header ">
                        <h4> Bollinger Bands</h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig7">
                            <div>{{ bollinger_bands1|safe }}</div> 
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>
            </div>

            <div class="col-6">
                <!-- First Section -->
                <div class="card card-chart">
                    <div class="card-header">
                        <h4>{{ stock2 }}</h4>
                    </div>
                    <div class="card-body" style="height: 600px;"> <!-- Updated height to 600px -->
                        <div id="chartBig2">
                            <div>{{ graph2|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <<div class="row">
            <div class="col-12">
                <div class="text-center">
                     <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>

        <!-- Row 5: MACD 1 and MACD 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Ninth Section: MACD 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig9">
                            <div>{{ macd1|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Tenth Section: MACD 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig10">
                            <div>{{ macd2|safe }}</div> 
                        </div>
                    </div>
                    <p>Description of graph</p>
                </div>

        <!-- Row 6: Bollinger Bands 1 and Bollinger Bands 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Eleventh Section: Bollinger Bands 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig11">
                            <div>{{bollinger_bands1|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Twelfth Section: Bollinger Bands 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig12">
                            <div>{{bollinger_bands2|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Include Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Include JavaScript file for stock display logic -->
{% comment %} <script src="{% static 'stock_display.js' %}"></script> {% endcomment %}

{% endblock content %}
