{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}





<div class="content">
    <div id="mainContent">
        <div class="row">
            <div class="col-12" style="margin-bottom: 20px;"> <!-- Added a new div for the description -->
                <h1>Graph Analysis</h1>
                <h3 style="text-align: center;">{{stock1}} vs {{stock2}}</h3> 
            </div>
        </div>
        
        <!-- Row 1: Graph 1 and Graph 2 -->
        <div class="row">
            <div class="col-6">
                <!-- First Section: Graph 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig1">
                            <div>{{ graph1|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Second Section: Graph 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig2">
                            <div>{{ graph2|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                     <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>

        <!-- Row 2: SMA 1 and SMA 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Third Section: SMA 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig3">
                            <div>{{sma1|safe}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Fourth Section: SMA 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig4">
                            <div>{{sma2|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                     <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>

        <!-- Row 3: EMA 1 and EMA 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Fifth Section: EMA 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig5">
                            <div>{{ema1|safe}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Sixth Section: EMA 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig6">
                            <div>{{ema2|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                     <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>

        <!-- Row 4: RSI 1 and RSI 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Seventh Section: RSI 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig7">
                            <div>{{rsi1|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Eighth Section: RSI 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig8">
                            <div>{{rsi2|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <<div class="row">
            <div class="col-12">
                <div class="text-center">
                     <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>

        <!-- Row 5: MACD 1 and MACD 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Ninth Section: MACD 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig9">
                            <div>{{ macd1|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Tenth Section: MACD 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig10">
                            <div>{{ macd2|safe }}</div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                     <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>

        <!-- Row 6: Bollinger Bands 1 and Bollinger Bands 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Eleventh Section: Bollinger Bands 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig11">
                            <div>{{bollinger_bands1|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Twelfth Section: Bollinger Bands 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig12">
                            <div>{{bollinger_bands2|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                         <p>Description: This row displays the Exponential Moving Averages (EMA) for {{stock1}} and {{stock2}}.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 6: LTSM 1 and LTSM 2 -->
        <div class="row">
            <div class="col-6">
                <!-- Thirteenth Section: LTSM 1 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig13">
                            <div>{{lstm_pred1|safe}}</div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <!-- Fourteenth Section: LTSM 2 -->
                <div class="card card-chart">
                    <div class="card-body">
                        <div id="chartBig14">
                            <div>{{lstm_pred2|safe}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <p>Description: This row displays the Long Short-Term Memory (LTSM) predictions for {{stock1}} and {{stock2}}.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Include Plotly library -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Include JavaScript file for stock display logic -->
{% comment %} <script src="{% static 'stock_display.js' %}"></script> {% endcomment %}

{% endblock content %}
